*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    
    background-color: #E5E5E5;
}
h2{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.04em;
    color: #356EAD;
    opacity: 0.8;
    margin-bottom: 34px;
}
.h2-modificadoPopulares{
    text-align: right;
    margin: 54px 0 26px 0;
}
.h3-modificadoTitulo{
    font-size: 36px;
line-height: 46px;
}
h3{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.h3-modificadoPopulares{
font-size: 22px;
line-height: 32px;
}
.h3-modificado{
font-size: 14px;
line-height: 24px;
}
p{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: rgba(0, 0, 0, 0.6);
}
p.modificadoPopulares{
font-size: 16px;
line-height: 26px;
}
.p-modificado{
font-size: 16px;
line-height: 18px;
color: #356EAD;}


section{
        width: 940px;
        margin: auto;
    }
@media (max-width:940px){
    .All_Article .desaparecer, .Populares .desaparecer{
        display: none;
    }
    section{
        width: 424px;
    }
    section.All_Article article{
        flex-direction: column;
        height: 415px;
    }
    .All_Article .All_Article-img{
        width: 377px;
        height: 200px;
    }
   .All_Article .All_Article-Contenido{
        width: 377px;
        height: 200px;
        
    }
    p{
           line-height: 26px;
    }

   .Populares .populares-contenedor{
        grid-template-columns: 385px;
        grid-template-rows: 560px 461px 430px;
        grid-template-areas: 'uno' 'dos' 'tres';
        grid-row-gap: 28px;
    }
    .populares-contenedor-principal {
        flex-direction: column;
        justify-content: space-between;
    }
    .populares-contenedor-principal .All_Article-Contenido{
        width: 385px;
        height: 314px;
    }
    .populares-contenedor-principal .All_Article-img{
        width: 100%;
    }
    .Populares{
        height: 1641px;
    }
    }